Server Handshake Keys Calculation Extra Bytes

I am trying to implement the `derived_secret` part of the server handshake key calculation, but I do not understand where some of the bytes for the HkdfLabel come from.
```
early_secret = HKDF-Extract(salt: 00, key: 00...)
empty_hash = SHA384("")
derived_secret = HKDF-Expand-Label(key: early_secret, label: "derived", ctx: empty_hash, len: 48)
```

In Section 7.1 of [RFC8446](https://www.rfc-editor.org/rfc/rfc8446#section-7.1) it defines: 
```
HKDF-Expand-Label(Secret, Label, Context, Length) =
    HKDF-Expand(Secret, HkdfLabel, Length)

Where HkdfLabel is specified as:

struct {
    uint16 length = Length;
    opaque label<7..255> = "tls13 " + Label;
    opaque context<0..255> = Context;
} HkdfLabel;
```

When using the hkdf-384 tool provided the label that gets passed in is `0x00 + 0x30 + 0x0d + "tls13 derived" + 0x30 + empty_hash`. From what I see from the document it should only be `0x00 + 0x30 + "tls13 derived"  + empty_hash`.

Where do the extra `0x0d` and `0x30` bytes come from?


Hi Trevor, thanks for reaching out. I'm always interested in hearing from people trying to reproduce the data in these docs, especially where something isn't obvious.

In this case the key is in the definition of variable-length vectors (indicated with `<min..max>`), in section 3.4 of the RFC:
```
   Variable-length vectors are defined by specifying a subrange of legal
   lengths, inclusively, using the notation <floor..ceiling>.  When
   these are encoded, the actual length precedes the vector's contents
   in the byte stream.  The length will be in the form of a number
   consuming as many bytes as required to hold the vector's specified
   maximum (ceiling) length.  [...snip...]
```

Looking at our definitions of `label` and `context`, especially the max-length number:
```
    opaque label<7..255> = "tls13 " + Label;
    opaque context<0..255> = Context;
```
I see that both variable fields have a max length that will fit in one byte (255 = 0xff), so each will have a one-byte of length preceding the data. `"tls13 derived"` is 13 bytes (`0x0d`) and a SHA384 hash is 48 bytes (`0x30`).

I'm going to take a look at the doc and see the best place to show this... it might just be a comment added in `hkdf-384.sh` itself.